https://colab.research.google.com/drive/1Ck8R2GXK_ZeW9oYRIdXgVhBqi3ibt_QJ

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_car = pd.read_csv("./car_evaluation.csv", header=None)

Data Exploration

In [4]:
df_car.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [5]:
print(df_car.shape)

(1728, 7)

In [6]:
col_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]
df_car.columns = col_names

In [7]:
df_car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [8]:
df_car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

In [9]:
#Class will be the target variable
df_car["class"].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [10]:
df_car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

Data processing

In [12]:
X = df_car.drop(columns=["class"])
y = df_car["class"]

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [15]:
print(X_train.shape)
print(X_test.shape)

(1209, 6)
(519, 6)

In [16]:
print(y_train.shape)
print(y_test.shape)

(1209,)
(519,)

In [17]:
X_train.head(5)

     buying maint  doors persons lug_boot safety
1178    med   med  5more       4      big   high
585    high  high      3    more    small    low
1552    low   med      3       4      med    med
1169    med   med  5more       2      big   high
1033    med  high      4       2      big    med

In [18]:
X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

Model training

In [21]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=["buying","maint","doors","persons","lug_boot","safety"])

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

ModuleNotFoundError: No module named 'category_encoders'

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=2, random_state=0)

In [ ]:
tree.fit(X_train, y_train)

In [ ]:
y_train_pred = tree.predict(X_train)
y_test_pred = tree.predict(X_test)

In [ ]:
y_test_pred