In this project I'll explore the file "Superstore" using different Python libraries, like Pandas and Seaborn. I'll create data visualizations to find patterns and insights in the data.

In [1]:
import pandas as pd

In [6]:
data = pd.read_excel('../data/superstore.xlsm')
data.loc[0:5,['Segment', 'Country','City',]]

     Segment        Country             City
0   Consumer  United States        Henderson
1   Consumer  United States        Henderson
2  Corporate  United States      Los Angeles
3   Consumer  United States  Fort Lauderdale
4   Consumer  United States  Fort Lauderdale
5   Consumer  United States      Los Angeles